
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.vcxproj.users
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
Makefile*
Install/*.dll
Install/*/*.dll
Install/*/*/*.dll
Install/*/*/*/*.dll
Install/logfile.txt
InstallJammer/build
Install/outputs/
Install/documents/~$*.doc
Install/documents/*.tmp
Install/binaries*
Source/StimulGL/log.txt
Source/StimulGL/HIDLog.txt
DoxyGen
All-build-desktop
StaticLibs
Source/ipch/stimulgl-39862f52/stimulgl_win32_debug-338f5dec.ipch
Source/ipch*
Source/All.opensdf
Source/All.sdf
Install/experiments/run_1.exml
Install/experiments/test.exml
Source/All.pro.user*
All-build-desktop-*
Install/documents/*
Source/Plugins/ParallelPortDevice/documents/~$*.doc
Source/Plugins/USBHIDDevice/documents/~$*.doc
Source/Plugins/USBHIDDevice/documents/~*.tmp
InstallJammer/output/*.*
!Install/examples
!Install/apis
Source/QmlExtensions/Plugins/DefaultPlugin/DefaultPlugin.sdf
Source/QmlExtensions/Plugins/DefaultPlugin/plugins.opensdf
Source/QmlExtensions/Plugins/DefaultPlugin/plugins.sdf
output
Publish/*.lnk
Install/qml/plugins
Install/plugins/Win32/script/*.embed.manifest
Install/plugins/Win32/script/*manifest.rc
Install/plugins/Win32/script/*dll_manifest.res
Install/plugins/Win32/script/*.exp
Install/plugins/Win32/script/*.lib
Install/plugins/x64/script/*l.embed.manifest
Install/plugins/x64/script/*.exp
Install/plugins/x64/script/*.lib
Install/plugins/x64/script/*manifest.rc
Install/plugins/x64/script/*.res
Source/Plugins/ExperimentManager/Template/*
Source/Plugins/ExperimentManager/x64/Template/*
Install/examples/GettingStartedGuide/ExperimentManager/experiments/tmp1.txt
source/plugins/TCPNetworkServer/TCPNetworkServerplugin.vcxproj.user
Source/Plugins/FirebirdClient/scripts/TEST.FDB
Source/Plugins/FirebirdClient/scripts/Test.xls
Install/firebird.msg
Install/OgreMain_d.dll_
Install/RenderSystem_GL_d.dll_
Install/tmp/*
Install/examples/StimulGL Experiments Repo.lnk
source/plugins/*/*.vcxproj.user
Install/examples/GettingStartedGuide/ExperimentManager/QtQuick2/HelloWorld_project.qmlproject
Install/examples/Tutorials/99. PluginExamples/ExperimentManager - Shortcut.lnk
Install/examples/Tutorials/99. PluginExamples/ExtensionPluginTemplate - Shortcut.lnk
Install/examples/Tutorials/99. PluginExamples/FirebirdClient - Shortcut.lnk
Install/examples/Tutorials/99. PluginExamples/KeyBoardDevice - Shortcut.lnk
Install/examples/Tutorials/99. PluginExamples/ParallelPortDevice - Shortcut.lnk
Install/examples/Tutorials/99. PluginExamples/PiezoStimDevice - Shortcut.lnk
Install/examples/Tutorials/99. PluginExamples/SerialPortDevice - Shortcut.lnk
Install/examples/Tutorials/99. PluginExamples/StimulGL - Shortcut.lnk
Install/examples/Tutorials/99. PluginExamples/TBVExchanger - Shortcut.lnk
Install/examples/Tutorials/99. PluginExamples/TCPNetworkServer - Shortcut.lnk
Install/examples/Tutorials/99. PluginExamples/USBHIDDevice - Shortcut.lnk
Install/examples/Tutorials/99_PluginExamples/* - Shortcut.lnk
