
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
Makefile*
Install/logfile.txt
Install/plugins/Win32/*.dll
Install/plugins/Win32/script/*.dll
Install/plugins/x64/*.dll
Install/plugins/x64/script/*.dll
InstallJammer/build
Source/StimulGL/log.txt
Source/StimulGL/HIDLog.txt
DoxyGen
Install/*.dll
All-build-desktop
StaticLibs