
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
Makefile*
Install/logfile.txt
Install/plugins/Win32/*.dll
Install/plugins/Win32/script/*.dll
Install/plugins/x64/*.dll
Install/plugins/x64/script/*.dll
InstallJammer/build
Source/StimulGL/log.txt
Source/StimulGL/HIDLog.txt
DoxyGen
Install/*.dll
All-build-desktop
StaticLibs
Install/outputs/
Install/documents/~$*.doc
Install/documents/*.tmp
Install/binaries*
Source/ipch/stimulgl-39862f52/stimulgl_win32_debug-338f5dec.ipch
Source/ipch*
Source/All.opensdf
Source/All.sdf
Install/experiments/run_1.exml
Install/experiments/test.exml
Source/All.pro.user*
All-build-desktop-*
Install/documents/*
Source/Plugins/ParallelPortDevice/documents/~$*.doc
Source/Plugins/USBHIDDevice/documents/~$*.doc
Source/Plugins/USBHIDDevice/documents/~*.tmp
InstallJammer/output/*.*
!Install/examples
!Install/apis
Source/QmlExtensions/Plugins/DefaultPlugin/DefaultPlugin.sdf
Source/QmlExtensions/Plugins/DefaultPlugin/plugins.opensdf
Source/QmlExtensions/Plugins/DefaultPlugin/plugins.sdf
output
Publish/*.lnk
*.h
Install/qml/plugins
Install/plugins/Win32/script/*.embed.manifest
Install/plugins/Win32/script/*manifest.rc
Install/plugins/Win32/script/*dll_manifest.res
Install/plugins/Win32/script/*.exp
Install/plugins/Win32/script/*.lib
Install/plugins/x64/script/*l.embed.manifest
Install/plugins/x64/script/*.exp
Install/plugins/x64/script/*.lib
Install/plugins/x64/script/*manifest.rc
Install/plugins/x64/script/*.res
Source/Plugins/ExperimentManager/Template/*
Source/Plugins/ExperimentManager/x64/Template/*
Install/examples/GettingStartedGuide/ExperimentManager/experiments/tmp1.txt
source/plugins/TCPNetworkServer/TCPNetworkServerplugin.vcxproj.user
